.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 0%;
        transform: translateY(0%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: white;
        letter-spacing: normal;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 40;
        position: relative; 

        &::before {
            font-family: 'La Belle Aurore';
            color: black;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            font-family: 'La Belle Aurore';
            color: black;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 18px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: white;
        margin-top: 20px;
        font-weight: bold;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .contact-link, .resume-link {
        align-items: center;
        text-align: center;
        background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: inline-flex;
        font-family: 'Coolvetica';
        font-size: 20px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        margin-top: 25px;
        margin-right: 20px;
    }
    
    .contact-link:last-child, .resume-link:last-child {
        margin-right: 0;
    }

    .contact-link:active, .contact-link:hover,
    .resume-link:active, .resume-link:hover {
        outline: 0;
    }

    .contact-link .text, .resume-link .text {
        background-color: rgb(5, 6, 45);
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
    }

    .contact-link:hover .text, .resume-link:hover .text {
        background: none;
    }

    @media (min-width: 768px) {
        .contact-link, .resume-link {
            font-size: 24px;
            min-width: 196px;
        }
    }

    .card {
        width: 300px;
        margin-left: 48%;
        margin-top: 5%;
        height: 352px;
        border-radius: 20px;
        padding: 5px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    }

    .card__content {
        background: rgb(5, 6, 45);
        border-radius: 17px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .card__content h3 {
        padding-bottom: 0px;
        border-bottom: 2px solid white;
        display: inline-block;
        margin-bottom: 20px;
    }

    .card__content > * {
        margin-top: -5px;
    }

    .aboutme {
        margin-top: 0%;
        color: white;
        font-family: 'Coolvetica';
        letter-spacing: normal;
        font-size: 25px;
        font-weight: 300;
    }

    .aboutme-content {
        line-height: 1.6;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
        color: white;
        font-family: 'Coolvetica';
        letter-spacing: normal;
        font-size: 13px;
        font-weight: 300;
    }

    .iframe1, .iframe2 {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        overflow: hidden;
    }

    .iframe-container {
        background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
        padding: 5px;
        border-radius: 20px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        margin-left: 73.5%;
        margin-top: -29%;
        width: 300px;
        height: 352px;
    }

    @media screen and (max-width: 1200px) {
        .tags, .home-page h1:before, .home-page h1:after {
            display: none;
        }

        .home-page .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
        }

        .home-page .contact-link, .home-page .resume-link {
            float: none;
            display: block;
            margin: 20px auto;
            width: auto;
        }
    }
}
