.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 0%;
        transform: translateY( 0% );
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: white;
        letter-spacing: normal;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 40;
        position: relative; 

        &::before {
            font-family: 'La Belle Aurore';
            color: black;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            font-family: 'La Belle Aurore';
            color: black;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 18px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: white;
        margin-top: 20px;
        font-weight: bold;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: white;
        font-size: 13px;
        letter-spacing: 1px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid white;
        margin-top: 25px;
        display: inline-block; 
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        display: inline-block;

        &:hover {
            background: white;
            color: rgb(56, 56, 125);
        }
    }

    .flat-button2 {
        color: white;
        font-size: 13px;
        letter-spacing: 1px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid white;
        position: absolute;
        right: 220px;
        bottom: 0px;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: white;
            color: rgb(56, 56, 125);
        }
    }

    .card {
        width: 300px;
        margin-left: 60%;
        height: 450px;
        border-radius: 20px;
        padding: 5px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      }
      
      .card__content {
        background: rgb(5, 6, 45);
        color: white;
        font-family: 'Coolvetica';
        letter-spacing: normal;
        font-size: 25px;
        font-weight: 50;
        border-radius: 17px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    .card__content > * { /* Assuming your text is wrapped in an element like <p> or <div> */
        margin-top: -5px; /* Adjust this value to move the text up */
    }
}
