.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 0%;
        transform: translateY( 0% );
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: white;
        letter-spacing: normal;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 40;
        position: relative; 

        &::before {
            font-family: 'La Belle Aurore';
            color: black;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            font-family: 'La Belle Aurore';
            color: black;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 18px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: white;
        margin-top: 20px;
        font-weight: bold;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: white;
        font-size: 13px;
        letter-spacing: 1px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid white;
        margin-top: 25px;
        display: inline-block; 
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        display: inline-block;

        &:hover {
            background: white;
            color: rgb(56, 56, 125);
        }
    }

    .flat-button2 {
        color: white;
        font-size: 13px;
        letter-spacing: 1px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid white;
        position: absolute;
        right: 400px;
        bottom: 0px;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: white;
            color: rgb(56, 56, 125);
        }
    }
    .about-me {
        position: absolute;
        right: 10%;
        top: 15%;
        transform: translateY(-50%);
        width: 40%;
        padding: 2rem;
        background-color: #49556B; // This is the color from the example you provided
        color: white;
        border-radius: 0.8rem;
        box-shadow: 5px 5px 20px #6d6b6b6b;
        font-size: 20px; // Adjust as needed
        font-family: 'Coolvetica', sans-serif;
      
        .about-me-line {
            display: flex; // This will align characters in a line
            flex-wrap: wrap; // This allows the line to wrap as needed
          }
          
          .about-me-char {
            margin-right: 0.1em; // Adjust the spacing between characters
          }
      }        
}
