.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeIn 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'], input[type='email'] {
        width: 100%;
        border: 0;
        background: #FFFFF0;
        height: 50px;
        font-size: 16px;
        color: #0D1717;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 7px;
    }
    
    textarea {
        width: 100%;
        border: 0;
        background: #FFFFF0;
        height: 50px;
        font-size: 16px;
        color: #0D1717;
        padding: 20px;
        box-sizing: border-box;
        min-height: 150px;
        border-radius: 7px;
      }
    
    .button-wrapper {
        float: right;
        display: inline-flex;
        border-radius: 8px;
        padding: 4px;
        background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        margin-top: 25px;
        margin-right: 20px;
        cursor: pointer; // Ensure the wrapper also shows a pointer cursor
    
        &:last-child {
            margin-right: 0;
        }
    
        // Hover effect for the wrapper
        &:hover .flat-button {
            background-color: transparent; // Reveal the gradient on hover
            color: #FFFFF0; // Keep the text color consistent
        }
    }
    
    .flat-button {
        background-color: rgb(5, 6, 45); // Initially black
        color: #FFFFF0;
        border: 0;
        border-radius: 7px; // Slightly smaller to fit inside the wrapper
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        padding: 16px 24px;
        font-family: 'Coolvetica';
        font-size: 20px;
        text-decoration: none;
        transition: background-color 300ms ease, color 300ms ease; // Smooth transition for background and text color
    
        // This hover effect is now handled by the wrapper
    }
}

.map-wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 53%;
    height: 115%;
    margin-top: -3%;
}
  
.leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
  }

  .card {
    max-width: 300px; /* Maximum width of the card */
    min-width: 190px; /* Minimum width of the card to maintain design */
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    position: absolute;
    top: 50px; /* Adjust as necessary to match the exact position */
    right: 30%; /* Adjust as necessary to match the exact position */
    z-index: 999999; /* High z-index to ensure it's on top */
    opacity: 0;
    animation: backInRight 1s 1.2s; /* Use the same animation as the map with a delayed start time */
    animation-fill-mode: forwards;
  }
  
  .card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    font-size: 10px;
    width: 100%;
    height: 100%;
    color: #FFFFF0; /* Assuming you want white text */
    padding: 20px; /* Add padding if you want some space inside the card */
    box-sizing: border-box; /* Include padding in width and height calculations */
  }

  @keyframes backInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  