html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font: 300 11px/1.4 'Hellvetica Neue', 'sans-serif';
  color: black;
  background: rgb(56, 56, 125);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
